
h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 64px;
    text-align: center;
    margin-bottom: 0px;
}

h2 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 34px;
    text-align: center;
    font-weight: 700;
}

p {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 36px;
    font-weight: 400;
    padding: 0px;
    margin: 0px;
    line-height: 40px;
}

h3 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    font-weight: 700;
    text-align: left;
    margin-bottom: 10px;
    margin-left: 10px;
}

.body2 {
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: space-between;
    flex-wrap: nowrap;
}

body {
    margin: 50px;
    border-style: solid;
    border-width: 4px;
    max-width: 1440px;
}

.col {
    margin: 20px;
    background-color: white;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;  
    row-gap: 25px;
}

#imageBox {
    width: 463px;
    height: 463px;
    border-style: solid;
    border-color: black;
    border-width: 4px;
    margin-top: 40px;
}

#image {
    width: 463px;
}

#pokeName {
    width: 463px;
    height: 50px;
    background-color: #E8E8E8;
    border-style: solid;
    border-color: black;
    border-width: 1px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#typeBox {
    width: 463px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.typeLabel {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 24px;
    font-weight: 400;
    line-height: 40px;
}

#tBubble {
    padding: 5px;
    margin-left: 10px;
    border-radius: 10px;
    width: 100px;
    height: 41px;
}

#allButtons{
    display: flex;
    flex-direction: row;
    gap: 320px;
    padding-left: 160px;
    padding-top: 40px;
    padding-bottom: 40px;
}

#arrowBox {
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 30px;
    margin-bottom: 20px;
    margin-top: 0px;
}

#buttonBox {
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 30px;
    margin-bottom: 20px;
    margin-top: 0px;
}

.button {
    padding: 5px;
    width: 175px;
    height: 70px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.arrButton {
    background-color: #E8E8E8;
}

#panelBox {
    width: 440px;
    height: 500px;
    padding: 33px;
    background-color: #E8E8E8;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    overflow: scroll;
}

#panelTitle {
    margin: 0px;
    padding-top: 20px;
    padding-bottom: 0px;
}

.green {
    background-color: #7CFF79;
}

.grey {
    background-color: #E8E8E8;
}

#arrowR {
    background-color: #E8E8E8;
}
.normal {
    background-color: #A8A77A;
}

.fire {
    background-color: #EE8130
}

.water {
    background-color: #6390F0;
}

.electric {
    background-color: #F7D02C;
}

.grass {
    background-color: #7AC74C;
}

.ice {
    background-color: #96D9D6;
}

.fighting {
    background-color: #C22E28;
}

.poison {
    background-color: #A33EA1;
}

.ground {
    background-color: #E2BF65;
}

.flying {
    background-color: #A98FF3;
}

.psychic {
    background-color: #F95587;
}

.bug {
    background-color: #A6B91A;
}

.rock {
    background-color: #B6A136;
}

.ghost {
    background-color: #B6A136;
}

.dragon {
    background-color: #6F35FC;
}

.dark {
    background-color: #705746;
}

.steel {
    background-color: #B7B7CE;
}

.fairy {
    background-color: #d685ad;
}